


html,
body {
    margin: 0;
}
body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
 
}

.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
  position: relative;
}

.snap-section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
}


body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}


h3{
    font-size: em;
    color: white;
    z-index: 2;
    position: relative;
    padding-bottom: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
.main-header {
   display: flex;
    
}
.logo {
    width: 10rem;
    height: auto;
  }
  h1, h2 {
    font-size: 6em;
    color: white;
    z-index: 2;
    position: relative;
    padding-bottom: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
  h4 {
    font-size: 5em;
    color: white;
    z-index: 2;
    position: relative;
    padding-bottom: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    padding-left: 2rem;
  }
  h5{
    font-size: 3em;
    color: white;
    z-index: 2;
    position: relative;
    padding-bottom: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
  .hero-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A2238;
    min-height: 100vh;
    text-align: center;
  }
  
  .hero-wrap h1, .hero-wrap h2 {
    position: relative;
    font-size: 8em;  /* Adjusted from 100px */
    color: white;
    z-index: 2;
    margin: 0.5rem 0; /* Added some vertical margin */
  }
  
  .parallax-container {
    position: relative;
    width: 10rem;
    height: 10rem;
  }
  
  .hero-wrap h2 {
    margin-left: 10rem; /* Reduced margin */
  }
  
  .hero-wrap span {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(crates.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
  }
  
  /* Adjustments for mobile view */
  @media (max-width: 1100px) {
    .hero-wrap h1, .hero-wrap h2 {
      font-size: 5rem;  /* Reduced font size further for mobile */
      margin: 0.5rem 0;
    }
  
    .parallax-container {
      width: 5rem;
      height: 5rem;
    }
  
    .hero-wrap h2 {
      margin-left: 4rem; /* Further reduced margin for mobile */
    }
    h2 {
      font-size: 3rem;
    }
   
    .aboutme-container {
      flex-direction: column;
      margin: 0;
      padding: 0;
      align-items: center;
    }
  
    .aboutme-text, .aboutme-image {
      padding: 1em 0;
      text-align: center;
      margin: 0; /* Reset margin */
    }
  
    .aboutme-image img {
      max-width: 90%;
      margin: auto; /* Center the image */
      display: block; /* Ensure the image is a block element */
    }
    }
  
    @media (max-width: 550px) {
      .hero-wrap h1, .hero-wrap h2 {
        font-size: 2rem;  /* Reduced font size further for mobile */
        margin: 0.5rem 0;
      }
      .parallax-container {
        width: 5rem;
        height: 5rem;
      }
    
      .hero-wrap h2 {
        margin-left: 4rem; /* Further reduced margin for mobile */
      }
      h2 {
        font-size: 2rem;
      }
        .aboutme-text {
          padding: 0 !important; 
          margin: 0 auto !important;
          max-width: none !important;
          width: 100% !important;
          font-size: 1rem !important;
      }
      .aboutme-container, .aboutme-text {
        padding: 0 !important;
        margin: 0 auto !important;
        width: 90% !important;
        box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    }
    .aboutme-image img {
      max-width: 100% !important;
      margin-left: 1.2rem; /* Center the image */
      display: block; /* Ensure the image is a block element */
      align-items: center;
    }
    
      }
  
  
.content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section{
  min-height: 100vh;
}

#AboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #344b5f;

}
.aboutme-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  margin-left: 3em;
}

.aboutme-text {
  flex: 1;
  padding-right: 2em;
  color: #fff;
  font-size: 1.2rem;
}

.aboutme-image {
  flex: 1;
  text-align: right;
  margin-right: 15%;
  
}

.aboutme-image img {
  max-width: 60%;
  height: auto;
  border-radius: 5px; 
}



#Section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #036298;

}
#Ended-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #772828;

}
#Section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #dc7a62;
}
#Standalone1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #dc7a62;
}
#FanArt{
   /*  */
    position: relative;
    width: 100%;
    min-height: 200vh;
  }

#Section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #25c1c3;
}
#Section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #0e5161;
}
#Image-Gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #344b5f;
}




.flipbook-container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: auto;
}

.flipbook-container-outter {
  position: relative;
}

.flipbook-container-inner {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Set to 100% of the viewport height */
  width: 100vw;   /* Set to 100% of the viewport width */
  transition: width 0.5s;
  position: relative;
}

.flipbook {
  transition: margin-left 0.25s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform-origin: 0 0;
  height: auto;
}

.flipbook .page {
    height: 100%;
    width: 100%;
}

.flipbook .page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: unset;
}

.flipbook-container-inner.cover-clicked {
    width: 100%;
    height: 100%;
    transition: margin-left 0.25s ease-out;
}

.flipbook .cover-page {
    cursor: pointer;
}
.cover-clicked {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
}
.cover-image {
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
    margin: auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.5s;
}
.cover-image:hover{
transform: scale(1.2);
}
.cover-image-hover {
  transition: transform 0.5s;
}

.cover-image-hover:hover {
  transform: scale(1.2);
}

.cover-image.active {
    transform: scale(2); 
}


.exit-button{
    position: fixed; 
    top: 2px;
    right: 2px;
    background-color: transparent; 
    color: rgb(171, 47, 47); 
    font-weight: bold; 
    border: none;
    cursor: pointer;
    font-size: 12px;
    z-index: 2;
}
.cover-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.info-container {
  position: absolute;
  left: -40%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Styles for screens below 1100px */
@media (max-width: 1100px) {
  .cover-info-wrapper {
    position: relative;
    display: inline-block; /* To wrap the container around the image */
  }
  
  .info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the content */
    text-align: center; /* Center the text and button */
    z-index: 2; /* To ensure it's above the cover image */
  }
  
  .cover-image {
    display: block; /* To remove any white space around the image */
  }
  .info-container {
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for better readability */
    padding: 1rem; /* Add some padding */
    border-radius: 5px; /* Rounded corners */
  }

  /* Adjust the font size of h2 and button as per your preference */
  .info-container h2 {
    font-size: 1.5rem;
  }

  .info-container button {
    font-size: 1rem;
  }
  #crisis-button{
    display: none;
  }
}


.purchase-button {
  display: block;
  margin-top: 1rem;
  border: none;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}
.comics-button {
  position: relative;;
  border: none;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

 #HighRoads-button:hover, #solar-button:hover {
  background-color: #444;
}


.book-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#HighRoads-button{
  display: none !important;
}
#crisis-button{
  display: none !important;
}
#starwars-button{
  display: none !important;
}
#solar-button{
  background-color: #14323a;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.snap-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.snap-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar, .snap-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body, .snap-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


/* Navigation Bar */

.hamburger-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  display: none; /* initially hidden */
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background: #fffefe;
}

@media (max-width: 1100px) {
  /* Display hamburger menu on small screens */
  .hamburger-menu {
    display: block;
  }

  #navbar {
    width: 100vw;
    height: 100vh;
    background-color: #1A2238;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: right 0.5s;
    z-index: 999;
}

#navbar.open {
    right: 0;
}
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 18rem; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#navbar a {
  color: #fff; 
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.3s ease, transform 0.3s ease; 
}

#navbar a.active {
  color: #39ae2c;
  font-weight: bold;
  font-size: 1.2em;
}

#navbar a:hover {
  color: #39ae2c;
  transform: scale(1.1);
}

.hidden {
  display: none !important;
}


/* Contact Form */
#Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1A2238;
}

#contact-form {
  width: 80%; 
  max-width: 600px; 
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  background-color: #344b5f;
}

#contact-form label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em; 
  color: #fff;  
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 0.5em;
  border: none;  
  border-radius: 5px;  
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); 
  margin-bottom: 1em;  
}

#contact-form button {
  display: block;
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  background: #2f4353;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;  
  cursor: pointer;
  transition: background 0.3s ease;
}

#contact-form button:hover {
  background: #1a2a38;
}


.flipbook-notice {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  align-self: flex-start;  /* Align to the start of the flex container, overriding the center alignment */
}


.flipbook-notice img {
  height: 50px;
  margin-left: 60%;
  
}

.cover-image-hover-enabled:hover {
  transform: scale(1.1);  
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

.gallery {
  width: calc(100% + 20px); /* Adjusted to accommodate the side margins */
  margin: 0 auto;
  max-width: 1220px; /* Original max-width + 20px */
  margin-left: -10px; /* To ensure the gallery doesn't shift due to the added margin on gallery items */
}


.gallery-item {
  width: calc(33.333% - 20px); /* Subtracting 20px for the 10px gap on both sides */
  margin: 10px; /* This will add a 10px gap to all sides */
  transition: transform 0.3s, filter 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05); /* Slightly scale the image */
  filter: brightness(1.2); /* Increase brightness */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
